[submodule "CapturePlugins/CSSyphonCapturePlugin/Syphon-Framework"]
	path = CapturePlugins/CSSyphonCapturePlugin/Syphon-Framework
	url = https://github.com/Syphon/Syphon-Framework.git 
        ignore = all
